body {
  text-align: center;
}

.header {
  width: 792px;
  height: 71;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.gravatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.score {
  font-size: 30px;
}

.left-header {
  display: inline;
}