body {
  background-color: rgb(150, 230, 230);
  text-align: center;
}

.header-component {
  background-color: rgb(97, 238, 238);
  width: 100%;
}

.footer p {
  margin: 5px;
}

.footer h3 {
  margin: 5px;
}
