body {
  margin: 2px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 9vmin;
  pointer-events: none;
}

.red-border {
  border: 3px solid red;
}

.green-border {
  border: 3px solid rgb(6, 240, 15);
}

.hide {
  visibility: hidden;
}

.answer-button {
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 900;
  margin-bottom: 10px;
  padding: 7px 12px;
  width: 300px;
}

ul {
  list-style: none;
}

.btn-next {
  cursor: pointer;
  margin-left: 60px;
  padding: 7px 12px;
  width: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
}

.App-header {
  background-color: rgb(14, 79, 153);
  color: white;
  height: 11vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-content {
  min-height: 82vh;
  padding-top: 7px;
}

.App-footer {
  background-color: rgb(161, 179, 199);
  padding: 3px 5px;
}

.App-link {
  color: #61dafb;
}

.developed-by {
  font-size: 14pt;
  font-weight: 900;
}

.div-login {
  margin: auto;
  text-align: right;
  width: 400px;
}

.div-inputs-login {
  display: flex;
  flex-wrap: wrap;
}

.span-login {
  padding: 5px 6px;
}

.input-login {
  padding: 4px 5px;
}

.label-login {
  display: inline-block;
  padding-right: 10px;
  text-align: center  ;
  width: 80px;
}

.img-settings {
  width: 40px;
}

.btn-login {
  cursor: pointer;
  margin: 10px auto;
  padding: 3px 1px;
  text-align: center;
  width: 100px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
